.App {
  text-align: left;
}
.native{
  color: green;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.togglerContainer{
  display: flex;
}
.togglerContainer>.togglerItem:first-child{
  border-radius: 5px 0 0 5px;
}
.togglerContainer>.togglerItem:last-child{
  border-radius: 0 5px 5px 0;
}
.togglerItem{
  padding: 5px 20px;
  box-sizing: border-box;
  background: #eee;
}
.togglerItem.active{
  background: #ffcc00;
}
