.App {
  text-align: center;
}
.menu{
  background-color: orange;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content:space-around;

}
li{
  margin-top: 20px;
  color: red;
}
.menu a{
  color: white;
  font-weight: 900;
}
.action{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.action a{
  margin-top: 10px;
  color:orange;
  font-size: 34px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
