.wrapper{
  width: 80%;
  height: 550px;
  background-color: #FFEFD5;
  margin: auto;
}
h1{
  text-align: center;
  font-size: 64px;
}
.getPoisk{
  float: right;
  width: 40px;
  cursor: pointer;
}
.activ{
  display: block;
  margin-left: 80%;
  margin-top: 2%;
}
.disable{
  display: none;
}
.ul{
  /*margin-top: 150px;*/
  width: 420px;
  font-size: 42px;
  margin:auto;
}
.list{

}
